@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b style="color: #0764B6">BLUE</b></h1>
    <p>This is the <b style="color: #0764B6">BLUE</b>> feature</p>
</div>
